.email {
  background-color: #eee;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: 1px 2px rgb(125, 125, 126);
  margin: 5px auto;
  padding: 15px;
  max-width: 950px;
  min-width: 450px;
}

.email:hover {
  background-color: #f9f9f9;
}

.email .subject {
  cursor: pointer;
  font-weight: 900;
}

.email .details {
  font-family: 'Ubuntu';
  padding: 20px 0;
}